#VideoDownloadSection img{
    width: 20vw;
    height: 12vw;
}

#VideoDownloadSection h4{
    color: #7E7E7E;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
    margin-bottom: 2px;
}

#VideoDownloadSection h3{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.44px;
}

#VideoDownloadSection .downloadOption{
    background: #1B1B1B;
    height: 55%;
    border-radius: 8px;
}

#VideoDownloadSection .downloadOption h4{
    color: rgba(255, 255, 255, 0.30);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
    margin-bottom: 10px;
    padding-bottom: 6px;
}

#VideoDownloadSection .downloadOption button{
    width: 32px;
    height: 32px;
    background: #41FF6A;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#VideoDownloadSection .downloadOption h6{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
}